@theme {
  --color-brand-50: #f0f8fa;
  --color-brand-100: #d9eef2;
  --color-brand-200: #b7dfe6;
  --color-brand-300: #86c8d3;
  --color-brand-400: #4ba9b8;
  --color-brand-500: #318b9b;
  --color-brand-600: #286f7d;
  --color-brand-700: #255b67;
  --color-brand-800: #234c56;
  --color-brand-900: #213f48;
  --color-brand-950: #102930;
}
